// Abstracts
// variables/mixins for project – our Bootstrap variables override file lives here
@import './abstracts/variables';
@import './abstracts/mixins';

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Vendor
@import './vendors/bootstrap';

// Base styles
@import './base/base';
@import './base/typography';

// Components
@import './components/nav';
@import './components/forms';
@import './components/buttons';
@import './components/slideshow';

// Layouts
// this holds general structure-based stuff like our header. a footer could live here, too
@import './layouts/layout';

//
// Custom styles
//

@import "icon-list";

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

