// Abstracts
// variables/mixins for project – our Bootstrap variables override file lives here
@import './abstracts/variables';
@import './abstracts/mixins';

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;

// Vendor
@import './vendors/bootstrap';

// Base styles
@import './base/base';

// Components
@import './components/nav';

//
// Custom styles
//

.main-nav a {
  color: $gray-900;
}

@import "icon-list";

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
