body {
  background: url(../../assets/img/background/leather-768245_1920.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 0;
}

header {
  @include gradient-y($start-color: rgba(#000, 0.2), $end-color: rgba(white, 0), $start-percent: 50%, $end-percent: 100%);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
}

hr {
  width: 75px;
  margin: 1rem auto;
}

.overlay-container {
  @extend .px-3;
  @extend .py-5;
  text-align: center;
  background-color: $white-overlay;
  border-radius: 6px;
}