@import "../abstracts/variables";

// Home page
/*-------------------------------------------------------------*/

.info-box {
  width: 70%;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: $spacer * 4;
  text-align: center;
  border: 2px solid white;
  box-shadow: $primary-box-shadow;
  background-color: rgba($color: #000000, $alpha: 0.15);
}

.social-links {

  ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 250px;    
    justify-content: space-around;
  }
  .social-icon {
    color: white;

    &:hover {
      color: $primary;
    }
  }
  
}

.inner-container {
  max-width: 70ch;
  margin: 0 auto;
  text-align: left;
}

.success {
  display: none;
}

// Furniture page
/*-------------------------------------------------------------*/

.furniture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.furniture-card {
  width: 85%;
  margin: auto;
  @extend .mt-4;
  @extend .mb-5;

  .img-container {
    width: 100%;
    height: 0;
    position: relative; 
    padding-top: calc(100% * (3 / 4));   
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 2px;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

@media screen and (min-width: 768px) {
  .furniture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(500px);

    .furniture-card {
      align-self: start;
    }
  }
}

@media screen and (min-width: 991px) {
  .furniture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// Materials page
/*-------------------------------------------------------------*/

.material-option {
  @extend .my-4;
  @extend .p-4;

  a {
    text-decoration: none;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 150px;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

footer {
  @extend .py-3;
}